<br />
<h3>Lizenz</h3>

<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
    <img
            alt="Creative Commons Lizenzvertrag"
            style="border-width: 0"
            src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
</a>
<p>
    Elronien von Matthias Geörg ist lizenziert unter einer Creative Commons Namensnennung - Weitergabe unter gleichen
    Bedingungen 4.0 International Lizenz.
</p>
<p>
    Dieses Werk beruht auf dem Werk unter
    <a href="https://fantasy-compendium.macbarfuss.de">fantasy-compendium.macbarfuss.de</a>.
</p>
<p>
    Über diese Lizenz hinausgehende Erlaubnisse können Sie unter
    <a href="https://www.macbarfuss.de">www.macbarfuss.de</a>
    erhalten.
</p>
